<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html lang="en"><!--<![endif]--><head dir="ltr">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">







  
      <title>
       Maintenance | Socratic Brain
      </title>
  

      <script type="text/javascript">
        /* immediately break out of an iframe if coming from the marketing website */
        (function(window) {
          if (window.location !== window.top.location) {
            window.top.location = window.location;
          }
        })(this);
      </script>

  <script type="text/javascript" src="/maintenance_files/i18n.js"></script>

  <link rel="icon" type="image/x-icon" href="http://stagecourse.socraticbrain.org/static/themes/default/images/favicon.d9c664fae52c.ico">

  
  

    <link href="/maintenance_files/lms-style-vendor.css" rel="stylesheet" type="text/css">



  
  

    <link href="/maintenance_files/lms-main.css" rel="stylesheet" type="text/css">




    
    <script type="text/javascript" src="/maintenance_files/lms-main_vendor.js" charset="utf-8"></script>


    
    <script type="text/javascript" src="/maintenance_files/lms-application.js" charset="utf-8"></script>


    
    <script type="text/javascript" src="/maintenance_files/lms-modules.js" charset="utf-8"></script>



  <script>
    window.baseUrl = "/static/";
    (function (require) {
      require.config({
          baseUrl: window.baseUrl
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="/maintenance_files/require-config.js"></script>

  


  
  

    


  
  <!-- dummy Segment -->
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    trackLink: function() { return; },
    pageview: function() { return; },
    page: function() { return; }
  };
</script>
<!-- end dummy Segment -->


  <meta name="path_prefix" content="">
  <meta name="google-site-verification" content="_mipQ4AtZQDNmbtOkwehQDOgCxUUV2fb_C0b6wbiRHY">

  <script></script>


<script src="/maintenance_files/discovery_factory.js" data-requiremodule="/static/js/discovery/discovery_factory.014f08e71019.js?raw" data-requirecontext="_" async="" charset="utf-8" type="text/javascript"></script><script src="/maintenance_files/moment.js" data-requiremodule="moment" data-requirecontext="_" async="" charset="utf-8" type="text/javascript"></script></head>

<body class="ltr  lang_en">


<div id="page-prompt"></div>
  <div class="window-wrap" dir="ltr">

        









  <header id="global-navigation" class="global ">
    <nav class="nav-wrapper" aria-label="Global">
    <h1 class="logo">
      <a href="http://stagecourse.socraticbrain.org/">
        
  <img src="/maintenance_files/OpenEdXLogo.png" alt="Home Page" height="50">

      </a>
    </h1>
  </nav>
</header>








    <div class="content-wrapper" id="content">
      










  <script type="text/template" id="facet_option-tpl">
      <li>
    <button data-facet="<%= facet %>" data-value="<%= term %>" data-text="<%= name %>" class="facet-option discovery-button <%= selected ? 'selected' : '' %>">
        <%= name %>
        <span class="count">
            <span class="count-number"><%= count %></span>
        </span>
    </button>
</li>

  </script>

    <script type="text/javascript">
        (function (require) {
                require(['/static/js/discovery/discovery_factory.014f08e71019.js?raw'], function () {
                    require(['js/discovery/discovery_factory'], function (DiscoveryFactory) {

    DiscoveryFactory(
      {},
      getParameterByName('search_query')
    );

                    });
                });
        }).call(this, require || RequireJS.require);
    </script>





<section class="find-courses">
  <section class="courses-container">
    <h1>Down for maintenance</h1>
    <h3>We appologize for the inconvenience. Technical works are being conducted on the server at the moment.</h3>
    <h3>This site will be available soon.</h3>
    <img src="/maintenance_files/maintenance_image.png" alt="" style="width:36%; margin:20px 0 0;">

  </section>
    </aside>

  </section>
</section>


    </div>

        

  
              



<div class="wrapper wrapper-footer">
  <footer id="footer-openedx">
    <div class="colophon">
      <nav class="nav-colophon" aria-label="About">
        <ol>
            <li class="nav-colophon-01">
              <a id="about" href="http://www.socraticbrain.org/about" target="_blank">About</a>
            </li>
            <li class="nav-colophon-02">
              <a id="blog" href="https://socraticbrain.wordpress.com/" target="_blank">Blog</a>
            </li>
            <li class="nav-colophon-03">
              <a id="faq" href="http://www.socraticbrain.org/help/faq" target="_blank">FAQs</a>
            </li>
            <li class="nav-colophon-04">
              <a id="contact" href="http://www.socraticbrain.org/contact" target="_blank">Contact</a>
            </li>
            <li class="nav-colophon-05">
              <a id="donate" href="http://www.socraticbrain.org/donate" target="_blank">Donate</a>
            </li>
        </ol>
      </nav>

      <div class="wrapper-logo">
        <p>
          <a href="http://stagecourse.socraticbrain.org/">
            <img alt="Socratic Brain" src="/maintenance_files/OpenEdXLogo.png" height="50">
          </a>
        </p>
      </div>

      <p class="copyright">© Socratic Brain.  All rights reserved except
 where noted.  EdX, Open edX and the edX and Open EdX logos are 
registered trademarks or trademarks of edX Inc.</p>

      <nav class="nav-legal" aria-label="Legal">
        <ul>
            <li class="nav-legal-01">
              <a href="http://www.socraticbrain.org/security" target="_blank">Privacy Policy</a>
            </li>
            <li class="nav-legal-02">
              <a href="http://www.socraticbrain.org/terms" target="_blank">Terms of Service</a>
            </li>
        </ul>
      </nav>
    </div>

    <div class="footer-about-openedx">
      <p>
        <a href="http://open.edx.org/">
          <img src="/maintenance_files/edx-openedx-logo-tag.png" alt="Powered by Open edX" width="140">
        </a>
      </p>
    </div>
  </footer>
</div>

        

  </div>

  
  <script type="text/javascript" src="/maintenance_files/noreferrer.js" charset="utf-8"></script>
  <script type="text/javascript" src="/maintenance_files/navigation.js" charset="utf-8"></script>






<div id="reader-feedback" class="sr" style="display:none" aria-hidden="false" aria-atomic="true" aria-live="assertive"></div></body></html>
<!-- Performance beacon for onload times -->